.block {
    width: 270px;
    height: 140px;
    border-radius: 5px;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 55px;
    position: relative;
    border: 1px solid grey;
    height: 170px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}